.search-widget {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 12px 16px;
  background: var(--color-surface);
}

.search-widget input {
  flex: 1;
  border: none;
  background: transparent;
  font: inherit;
  font-size: 16px;
  color: var(--color-text-primary);
  outline: none;
}

.search-widget select {
  background-color: transparent;
  padding: 4px 20px 4px 2px;
  font-size: 14px;
}
